# .gitignore file for repository

# Ignore Visual Studio folder, Keras logs folders, plots folders
/**/.vscode/**/
/**/logs/**/
/**/plots/**/

# Ignore .pyc files
*.pyc

# Ignore emacs temp files
*~

# Ignore .csv files
*.csv